.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  /*padding: 10px;*/
  height: 70px;
}

.company-name {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5em;
  padding-right: 100px;
}

.logo {
  height: 30px;
  padding-left: 100px;
  padding-bottom: 30px;
}

.navbar img {
  height: 60px;
}

