<div class="products">
    <div class="mainClass">
        <ul *ngFor="let product of products" class="productList">
            <li class="productCard">
                <div class="productImg">
                    <img [src]="product.image" class="img-prod">
                </div>
                <div class="productDesc">
                    <p>{{ product.name }}</p>
                    <p class="desc">{{ getProductDescribe(product) }}</p>
                </div>
                <div class="buyButton">
                    <button>Добавить +</button>
                </div>
            </li>
        </ul>
    </div>
  </div>